{% extends 'reviews/base.html' %}

{% block title %}All Reviews
    
{% endblock title %}

{% block content %}
<h1>All Reviews</h1>
    <ul>
        {% for review in reviews  %}  <!--if you pass the object name as a context variable, you don't need to use it, ie. for review in reviews instead of 'review in object_list'-->
          <li>{{review.user_name}}   (Rating: {{review.rating}})</li>
        {% endfor %}
    </ul> 
{% endblock content %}


<!-- old method using TemplateView:
<h1>All Reviews</h1>
    <ul>
        {% for review in reviews  %}
          <li><a href="{% url 'single-review' %}">{{review.user_name}}</a>   (Rating: {{review.rating}})</li>
        {% endfor %}
    </ul> 
